/* header.css */

/* General Styles */
body.dark .dark\:bg-black {
  background-color: black;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #003366;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: #E0E0E0;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  list-style: none;
}

.header nav ul li {
  margin-left: 1.5rem;
}

.header nav ul li a {
  color: #E0E0E0;
  text-decoration: none;
  transition: color 0.3s;
}

.header nav ul li a:hover {
  color: #FF5722;
}

/* Responsive Styles */
