.sidebar {
  width: 250px;
background-color: #003366;
  color: white;
  height: 100vh;
  padding-top: 1rem;
  border-right: 1px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: block;

}
